.linechart_container {
    background-color: #f5f9f8;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    overflow: visible;
}

.linechart_labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.linechart_labels > p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
